.mainlist {
  background-color: #0e1218;
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.mainlist_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1218;
  height: 700px;
}

.loader {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.loader:after {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #c9d1d9;
  border-color: #c9d1d9 transparent #c9d1d9 transparent;
  animation: loader 2.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
